DATABASE_URL=mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_TREE_ROOT_ORG_ID=13

API_PROXY_TARGET_NOTIFIER=http://localhost:8082
API_PROXY_TARGET_USERS=http://localhost:8081
