DATABASE_URL=mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE
NEXT_PUBLIC_API_URL=/api

# Anger Sundsvalls Kommun som "rot" i trädstrukturen
NEXT_PUBLIC_TREE_ROOT_ORG_ID=13

# Lokalt 
API_PROXY_TARGET_NOTIFIER=http://localhost:8082
# I Docker Compose
# API_PROXY_TARGET_NOTIFIER=http://api-service-notifier:8082

# Lokalt 
API_PROXY_TARGET_USERS=http://localhost:8081
# I Docker Compose
# API_PROXY_TARGET_USERS=http://api-service-notifier:8081