.tree-view-container {
  width: 375px;
  padding: 30px;
  margin-top: 20px;
}

.menu-list-container .menu-list-container {
  padding-left: 10px;
  border-left: 1px #ffffff50 solid;
}

.menu-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 10px;
  position: relative;
  margin-left: 0;
}

.menu-item-left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.menu-item-center {
  flex: 1;
  text-align: center;
}

.menu-item-right {
  flex-shrink: 0;
  margin-left: auto;
}

.parent-item {
  background-color: var(--sk-colors-vattjom-surface-accent-DEFAULT);
}