.tree-view-container {
  width: 350px;
  padding: 40px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 10px;
}

.parent-item {
  background-color: #005595;
}

.sk-list-text {
  margin-left: 0;
}

.sk-list-item::before {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
}

.items-container {
  padding-top: 40px;
}
