.menu-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-list-container .menu-list-container {
  padding-left: 10px;
  border-left: 1px #ffffff50 solid;
  margin-top: 8px;
}

.menu-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
  margin-left: 0;

  border-width: var(--sk-spacing-1);
  border-color: var(--sk-colors-input-field-outline-DEFAULT);
  border-radius: var(--sk-radius-button-md);
  min-height: 42px;

  margin-top: 0;
  margin-bottom: 0;
}

.menu-item-left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.menu-item-center {
  flex: 1;
  text-align: center;
}

.menu-item-right {
  flex-shrink: 0;
  margin-left: auto;
}

/* .parent-item {
  background-color: var(--sk-colors-vattjom-surface-accent-DEFAULT);
} */
